body {
    text-align: center;
    font-size: 12px;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

/* Estilos del header */
.container-encabezado {
    background-color: rgb(52, 113, 90);
    height: 125px;
}

#nav-title {
    font-size: 2em;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

#left-menu {
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 50px;
    width: 40%;    
}

#tittle-links-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: left;
    height: 100%;
    font-size: 1.2em;
    gap: 10px;
}

.title-links {
    font-weight: 900;
    width: 100px;
    padding: 10px 20px;
}

.nav-menu {
    width: 60%;
    justify-content: center;
}

#nav-list {
    align-items: center;
    justify-content: center;
    gap: 5px;
    list-style-type: none;
    height: 100%;
}

#nav-links {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
}

#nav-list,
#nav-links {
    width: 100%;
}

.nav-link.big {
    font-size: 2em;
    font-weight: bold;
    padding: 15px 25px;
}

.nav-link {
    font-style: bold;
    padding: 15px 15px;
}

.nav-link,
.nav-link tp,
.title-links {
    text-decoration: none;
    color: white;
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.164);
    border-radius: 5px;
}

.nav-menu,
.nav-title,
#nav-list {
    padding: 10px 0;
    margin: 0;
}

/* Main section */
.container-principal {
    align-items: center;
    width: 100%;
    color: black;
}

.container-ejercicios {
    flex-wrap: wrap;
    justify-content: center;
    gap: 66px;
    margin: 40px;
    width: 90%;
}

.other {
    width: 900px;
    margin: 0 200px;
    color: black;
    min-height: 150px;
    border: 1px solid;
    padding: 10px 40px;
    box-shadow: 0px 10px 50px;
}

.card {
    font-size: 0.9em;
    width: 450px;
    padding: 50px;
    height: 550px;
    justify-content: flex-start;
    border-style: solid;
    border-radius: 2%;
    text-align: center;
    box-shadow: 0px 10px 50px;
    background-color: rgba(190, 190, 190, 0.316);
}

.card-links {
    align-self: center;
    width: fit-content;
    color: rgb(255, 255, 255);
    background-color: rgb(19, 109, 75);
    font-weight: 900;
    text-decoration: none;
    font-style: italic;
    padding: 7px;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 1px 1px 10px;
}

footer {
    padding: 10px;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
}

/* flexboxes */
.nav-menu,
.container-encabezado,
.container-principal,
.container-ejercicios,
#left-menu,
#nav-list,
#nav-links,
.card,
.box-tabla,
.tp-list {
    display: flex;
}

.nav-menu,
.container-principal,
.card,
.box-tabla {
    flex-direction: column;
}

/* Hovers */
.title-links:hover,
.nav-link tp:hover,
.nav-link:hover,
.card-links:hover {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s background-color ease;
}

/* ID Ejercicios */

.tp-list {
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    width: fit-content;
    align-self: center;
    font-size: 1.3em;
    height: 100%;
}

.tp-list li {
    text-align: left;
}

.list-style-none {
    list-style: none;
}

.table-container {
    min-width: fit-content;
    min-height: fit-content;
    align-items: center;
}

#ex4-table,
#inversion-calculator-table {
    border-collapse: collapse;
    margin: 0 auto;
    background: #fff;
    color: black;
}

thead tr #primer-casilla {
    background-color: inherit;
}

.table-container th,
td {
    font-size: 1.3em;
    padding: 0 5px;
    border: 2px solid;
}

#ex4-table th,
#ex4-table td.diagonal {
    background: #f4f46f;
    font-weight: bold;
}

.forms-tp {
    display: inherit;
    flex-direction: inherit;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    text-align: left;
}

.forms-tp label {
    font-size: 1.4em;
}

.forms-tp input {
    font-size: 1.2em;
    padding: 2px;
}

.forms-tp input:focus {
    background-color: rgb(184, 250, 228);
    outline: none;
}

.forms-tp input::-webkit-outer-spin-button,
.forms-tp input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.forms-tp label,
.forms-tp input {
    width: 50%;
    margin: 1px 0;
    padding: 0.1em 0.5em;

}

.forms-tp button {
    color: white;
    background-color: rgb(72, 210, 72);
    width: 75px;
    height: 40px;
    font-size: 1em;
    font-weight: 600;
    align-self: center;
    margin-top: 20px
}

#inversion-calculator-table thead {
    border: 3px solid;
}

#inversion-calculator-table th {
    border: 2px solid;
    padding: 4px;
    font-weight: bold;
    background-color: #f4f46f;
}

#inversion-calculator-first-month {
    background-color: lightgreen;
}

.inversion-calculator-month {
    background-color: lightcyan;
}

.inversion-calculator-finish {
    background-color: greenyellow;
}

#about-list {
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
}

#manuel {
    background-color: rgb(60, 0, 110);
    text-decoration: underline;
}